@import "tailwindcss";

:root {
  --gray-900: #171717;
  --gray-800: #262626;
  --gray-700: #404040;
  --gray-600: #525252;
  --gray-500: #737373;
  --gray-400: #a3a3a3;
  --gray-300: #d4d4d4;
  --gray-200: #e5e5e5;
  --gray-100: #e8ebed;
  --gray-50: #fafafa;

  --brand-dark: #262626;
  --brand-yellow: #ffc117;
  --brand-light: #f1f2f5;

  --error-red: #eb3e3e;
}

@theme inline {
  --color-gray-900: var(--gray-900);
  --color-gray-800: var(--gray-800);
  --color-gray-700: var(--gray-700);
  --color-gray-600: var(--gray-600);
  --color-gray-500: var(--gray-500);
  --color-gray-400: var(--gray-400);
  --color-gray-300: var(--gray-300);
  --color-gray-200: var(--gray-200);
  --color-gray-100: var(--gray-100);
  --color-gray-50: var(--gray-50);

  --color-brand-dark: var(--brand-dark);
  --color-brand-yellow: var(--brand-yellow);
  --color-brand-light: var(--brand-light);

  --color-error: var(--error-red);
}
@theme {
  --breakpoint-md: 774px; /*태블릿*/
  --breakpoint-sm: 375px; /*모바일*/

  --font-pretendard: var(--font-pretendard-variable), sans-serif;
}
